<section class="container">
  <!-- If the user is logged in, render the post content -->
  {{#if ownership }}
  <form class="post-delete">
    <button id="post-delete">DELETE</button>
  </form>
  {{/if}}
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    <section class="card">
      <div class="card-body">
        <h1>{{post.title}}</h1>
        <p>------------</p>
        <h5>{{post.user.username}}'s post</h5>
        <p>{{post.content}}</p>
        {{#each post.comments as |comment|}}
        <p>------------</p>
        {{comments.user.username}}
        {{> comment-details}}
        {{/each}}
      </div>
    </section>
  </section>
</section>
<section class="container">
  <form class="form comment-form">
    <div class="form-group">
      <h3>New Comment:</h3>
      <h6>Enter Title</h6>
      <input id="comment-title" />
      <h6>Enter Content</h6>
      <textarea id="comment-content"></textarea>
      <br />
      <button id="comment-submit">Submit</button>
      <script src="/js/new-comment.js"></script>
      <script src="/js/delete-post.js"></script>
    </div>
  </form>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view the paintings</a>
{{/if}}